.comm_cardsdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.3rem;
  margin-top: 4rem;
}

.comm_card {
  width: 280px;
  height: 450px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;


  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 17px;
    text-align: center;
  }

}

.comm_card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}