.testimonials_parent {


  padding: 6% 8%;

  h2 {
    // font-family: $mont;
    font-size: 40px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.13rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 80px;
  }

  hr {
    height: 2.5px;
    width: 10%;
    border: 2.5px solid black;
    margin: auto;

  }

}



.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  height: 400px;
}

@media screen and (max-width: 500px) {
  .swiper-wrapper {
    height: 500px;
  }

}

.swiper-pagination {
  margin-top: 20px;
}