.landing_heythere2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 20px;
  color: #1c2e31;
}

.landing_heythere {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.3rem;
  padding-left: 20px;
  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
  margin-top: 5rem;
}

.landing_imgdiv {
  margin-top: 5rem;
  padding-left: 2 0px;
}

.abthr {
  height: 2.5px !important;
  margin-bottom: 0px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.skillset_img {
  cursor: pointer;
}

.row1 {
  margin-bottom: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social_icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social_icon__item,
.menu__item {
  list-style: none;
}

.social_icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social_icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  font-family: "Karla", sans-serif;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* //* MOBILES  */
@media (max-width: 430px) {
  .landing_heythere2 {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #1c2e31;
    /* max-width: 350px; */
    text-align: center;
  }

  .skillsheader {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 2.9rem;
    padding-left: 20px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #0f4a53;
    margin-top: 0px;
  }

  .abthr {
    min-height: 3px;
    color: gray;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
  }
  .ghworkshopimg_mob {
    /* padding: 15px !important; */
    border-radius: 10px !important;
    width: 100% !important;
  }

  .carouselparent {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carouselitem {
    text-align: center;
  }
}

.skillsheader {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  padding-left: 20px;
  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
  margin-top: 5rem;
}
