.landing_heythere2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 20px;
  color: #1c2e31;
}

.landing_heythere {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.3rem;
  padding-left: 20px;
  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
  margin-top: 5rem;
}

.landing_imgdiv {
  margin-top: 5rem;
}

.abthr {
  height: 2.5px !important;
  margin-bottom: 0px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.skillset_img {
  cursor: pointer;
}

.row1 {
  margin-bottom: 20px;
}

/* //* MOBILES  */
@media (max-width: 430px) {
  .landing_heythere2 {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 20px;
    color: #1c2e31;
    max-width: 350px;
  }

  .skillsheader {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 2.9rem;
    padding-left: 20px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #0f4a53;
    margin-top: 0px;
  }

  .abthr {
    min-height: 3px;
    color: gray;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
  }
  .ghworkshopimg_mob {
    /* padding: 15px !important; */
    border-radius: 10px !important;
    width: 100% !important;
  }

  .carouselparent {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carouselitem {
    text-align: center;
  }
}

.skillsheader {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  padding-left: 20px;
  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
  margin-top: 5rem;
}
