.parent {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.navbardiv {
  display: none;
}

.parentDesktop {
  padding-top: 3rem;
}

.landing_hello h3 {
  font-family: "Indie Flower", cursive;
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

.landing_imgdiv {
  margin-top: 6rem;
}

.portfolioimg {
  border-radius: 50%;
}

.landingheydesktop {
  /* position: absolute;
  top: 12rem; */
  margin-left: 83px;
  display: flex;
  flex-direction: column;
}

.landing_navbar {
  display: flex;
  padding-left: 22px;
}

.landing_navbar p {
  font-weight: 600;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.navlink2,
.navlink3 {
  margin-left: 8rem;
}

.landing_heythere {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  padding-left: 20px;
  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
  margin-top: 5rem;
}

.landing_heythere2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 20px;
  color: #1c2e31;
}

.explorebtn {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  width: max-content;
  margin-left: 20px;
}

.landing_imgdiv2 {
  display: none;
}

@media (max-width: 430px) {
  .navbardiv {
    display: contents;
  }

  .parentDesktop {
    display: none;
  }

  .landing_imgdiv {
    display: none;
  }
  .landingheydesktop {
    display: none;
  }
  .landing_imgdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
  }

  .portfolioimg_mob {
    max-height: 300px !important ;
    min-height: 300px !important ;
    max-width: 300px !important ;
    min-width: 300px !important ;
    border-radius: 50%;
  }

  .landing_heythere {
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 2.9rem;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #0f4a53;
    margin-top: 0px;
    margin-left: 0px;
  }
  .landing_heythere2 {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 20px;
    color: #1c2e31;
  }
}
