.whatami {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 4.3rem;

  line-height: 70px;
  margin-bottom: 38px;
  color: #0f4a53;
}

.skilldesc {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  /* padding-left: 20px; */
  color: #1c2e31;
}

.parent1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  text-align: center;
  justify-content: space-between;
}

.textdiv {
  max-width: 580px;
  text-align: left;
  padding-left: 40px;
}

.imagediv {
  padding-right: 80px;
}
